<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let book of books">
    <div class="card mx-auto my-3" *ngIf="book">
      <img
        [src]="book.volumeInfo.imageLinks.smallThumbnail"
        class="card-img-top"
        [alt]="book.volumeInfo.title"
      />
      <div class="card-body">
        <h5 class="card-title text-center">{{ book.volumeInfo.title }}</h5>
        <p class="card-text">
          <span> by {{ book.volumeInfo.authors }}</span>
        </p>
        <div class="text-center">
          <button class="btn btn-primary" (click)="request.emit(book.id)">
            {{ label }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
